.square {
  background: #fff;
  border: 2px solid #999;
  float: left;
  font-size: 40px;
  font-weight: bold;
  line-height: 34px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
}

.numberClicked {
  position: absolute;
  right: 10px;
}

.board {
  width: 40%;
  margin: auto;
  padding-top: 30px;
}

.boardRow:nth-child(3) .square, .boardRow:nth-child(6) .square{
  border-bottom: 2px solid black;
}

.boardRow:nth-child(4) .square, .boardRow:nth-child(7) .square{
  border-top: 2px solid black; 
}

.boardRow .square:nth-child(3), .boardRow .square:nth-child(6){
  border-right: 2px solid black;
}

.boardRow .square:nth-child(4), .boardRow .square:nth-child(7){
  border-left: 2px solid black;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 20vmin;
}

.App-header {
  background-color: #282c34;
  max-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
